<div class="bg-blue-100 align-middle">
    <div class="h-16 container ">
        {{#link-to "index" }}
            <img src="assets/images/Radio1_landscape.png" alt="RTÉ Radio One" class="inline-block align-middle h-10 ">
        {{/link-to}}
        {{input value=query input=(action "showSearch") placeholder="Search"class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"}}
    </div>
</div>