<div class="px-8 py-12 max-w-md sm:max-w-xl mx-auto">
    <img src="{{ model.wp:featuredmedia.media_details.sizes.full.source_url }}" alt=""
        class="shadow-xl  w-full object-cover object-center">
    <h1 class="2xl font-bold text-black leading-tight mt-6">{{{ model.title }}}</h1>
    <p class="text-grey-darker">{{{ model.description }}}</p>
    <div class="mt-6">
        <a class="inline-block px-4 bg-purple text-white p-3 rounded-lg uppercase tracking-wider ">
            More Detail
        </a>
    </div>
</div>