<div class="container mt-4">
    <div class="wrapper">
        {{#if hasResults}}
            {{#animated-each results use=transition as |post index|}}
                <div class="column bg-white shadow-xl">
                    <PostPreview @model={{post}} @index=index />
                </div>
            {{/animated-each}}
        {{else}}
            <h1>No results for {{ query }}</h1>
        {{/if}}
    </div>
</div>