@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");
.brand {
  background-color: rgb(85, 156, 206);
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
}
.wrapper > * {
  margin-bottom: 1rem;
}
.column {
  flex-basis: 49%;
}
.column60 {
  flex-basis: 58%;
}
.column70 {
  flex-basis: 68%;
}
.column30 {
  flex-basis: 28%;
}
.column_full {
  flex-basis: 100%;
}
.post-detail {
  flex-basis: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .post-detail {
    flex-basis: 98%;
  }
}
.column40 {
  flex-basis: 38%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .column {
    flex-basis: 92%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .wrapper > * {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
.half_width {
  flex-basis: 48%;
  flex-direction: column;
}
.round-button {
  border-radius: 50%;
}
.player-col-1 {
  flex-basis: 8%;
  flex-direction: column;
}
.player-col-2 {
  flex-basis: 58%;
  flex-direction: column;
}
.player-col-3 {
  flex-basis: 18%;
  flex-direction: column;
}
.audio-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
  height: 100px;
  align-items: center;
}
progress {
  width: 100%;
  position: absolute;
  top: 0;
  height: 4px;
  cursor: pointer;
}
progress[value]::-webkit-progress-value {
  background: #569cce;
}
button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.progress_container input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  cursor: pointer;
}

.progress_container input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
