@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./audio-progress.css";

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

.brand {
  background-color: rgb(85, 156, 206);
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
}
.wrapper > * {
  margin-bottom: 1rem;
}
.column {
  flex-basis: 49%;
}
.column60 {
  flex-basis: 58%;
}
.column70 {
  flex-basis: 68%;
}
.column30 {
  flex-basis: 28%;
}
.column_full {
  flex-basis: 100%;
}
.post-detail {
  flex-basis: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .post-detail {
    flex-basis: 98%;
  }
}
.column40 {
  flex-basis: 38%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-page {
  flex-basis: 68%;
}
@media only screen and (max-width: 600px) {
  .column {
    flex-basis: 92%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .wrapper > * {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .main-page {
    flex-basis: 95%;
  }
}
.half_width {
  flex-basis: 48%;
  flex-direction: column;
}
.round-button {
  border-radius: 50%;
}
.player-col-1 {
  flex-basis: 8%;
  flex-direction: column;
}
.player-col-2 {
  flex-basis: 58%;
  flex-direction: column;
  height: inherit;
}
.player-col-3 {
  flex-basis: 18%;
  flex-direction: column;
}
.player-nowplaying {
  height: 36.6px;
  text-align: center;
  align-items: baseline;
  display: flex;
  overflow: hidden;
}
.audio-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
  height: 100px;
  margin-top: 10px;
  align-items: center;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}
