<div class="container mt-4">
    <div class="wrapper">
        {{#animated-each model use=transition as |post index|}}
            <div class="column bg-white shadow-xl">
                <PostPreview @model={{post}} @index={{index}} />
            </div>
        {{/animated-each}}
    </div>
</div>