<div class="container mt-4">
    <div class="wrapper">
        <div class="column70 bg-white shadow-xl">
            <PostPreview @model={{model}} @index=0 />
        </div>
        <div class="column30">
            Stuff
        </div>

    </div>
</div>